:root { /*Cards*/
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5)
}

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0; 
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    padding: 0;
    background-color: #191c29;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: #191c29;
    border-bottom: 1px solid #191c29;
}

/*custom scrollbar*/

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: #d1e5ff;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff, #ff22e6);
}

/*Cabeçalho*/
#navbar img{
    width: 40px;
}

#navbar {
    justify-content: space-between;
    background-color: #191c29;
    padding: 5px 0;
}

#navbar a {
    padding: 15px 40px;
    color: #FFF;
    font-size: 14px;
}

#navbar a:hover {
    color: #9640e5;
    text-shadow: 1px 1px 2px #9640e5, 0 0 1em #9640e5, 0 0 0.2em #9640e5;
}

/*Sliders*/

.slider{
    width: 100%;
    height: 400px;
    position: relative;
    padding: 0;
}

.slides{
    width: 100%;
    height: 100%;
    display: flex;
    transition: margin-left 2s;
}

.slides input{
    display: none;
}

.slide{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%; 
    object-fit: contain; 
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}

/*ofertas*/
.icon-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5%;
}

.icon-item {
    text-align: center;
    transition: transform .2s;
}

.icon-item p {
    font-size: 16px;
    font-weight: bold;
}

.icon-container ion-icon{
    zoom: 4.0;
}

.icon-item:hover{
    transform: scale(1.2);
}

.icon-item a{
    text-decoration: none;
    color: #9640e5; 
}

/*explorar jogos*/

.container-explorar{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.container-explorar h2{
    color: #e20bf8;
    font-size: 50px;
    font-weight: 1000;
    margin-bottom: 40px;
}

.container-explorar a {
    text-decoration: none;
    color: #9640e5;
    font-size: 20px;
    font-weight: 1000;
}

.container-explorar a:hover{
    color:#044c04;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* CARDS */
.games-cards{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191c29;
}

.container-card {
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
    cursor: pointer;
    background-color: #191c29;
    border: none;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 0px 35px 32px -8px rgb(0,0,0,0.75);
}

.card:hover .title {
    transform: translate3d(0%, -50%, 100px);
}

.card:hover .wrapper::after,
.wrapper::before {
    opacity: 1;
}

.card:hover .wrapper::after{
    height: 120px;
}

.card:hover .wrapper::before{
    opacity: 1;
}

.card:hover .character{
    opacity: 1;
    transform: translate3d(0%, -30%, -100px);
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.wrapper::before,
.wrapper::after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrapper::before{
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%, rgb(12,13,19,0.5) 68%, rgb(12,13,19) 97%);
}

.wrapper::after{
    bottom: 0;
    opacity: 0;
    background-image: linear-gradient(to top, transparent 46%, rgb(12,13,19,0.5) 68%, rgb(12,13,19) 97%);
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character {
    width: 100%;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: all 0.5s;
}

.card-body {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.card-title{
    font-family: fantasy;
    margin: 3px;
}

/*Botão*/
.btn {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-weight: bold;
    margin: 1em;
}

.btn::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.btn::before{
    content: "";
    background-image: linear-gradient(
        130deg,
        #ff0095,
        #00ff99,
        #006aff,
        #ff4545,
        #ff0095
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    0% {background-position: 0 0;}
}

.btn:hover::before{
    opacity: 1;
}

.btn:active:after{
    background: transparent;
}

.btn:active{
    color: #000;
    font-weight: bold;
}

.btn:hover {
    color: #FFF;
    
}

.button-container {
    display: flex;
    justify-content: center;
}

/*container category*/

.style-container {
    margin: 0 auto;
    padding: 2em 2em 0em 2em;
    width: 500px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    color: #FFF;
    margin-bottom: 2em;
    margin-top: 2em;
}

.style-container-card {
    text-align: left;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.style-container::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: none;
    border-radius: 10px;
    padding: 3px;
    background: #1c1f2b;
    background-size: 300% 300%;
    z-index: -1;
    animation: gradient-border 5s ease infinite;
}

.style-container-card::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px;
    background: none;
    z-index: -2;
    filter: blur(20px);
    opacity: 0.8;
    background-image: linear-gradient(
        130deg,
        #ff0095,
        #00ff99,
        #006aff,
        #ff4545,
        #ff0095
    );
    background-size: 300% 300%;
    animation: gradient-border 5s ease infinite;
}

@keyframes gradient-border {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.style-container-card h1 {
    
    text-align: center;
}

.style-container-card .form-group {
    flex-direction: column; 
    align-items: flex-start; 
}

.style-container-card .form-group {
    margin-bottom: 20px;
    margin-top: 20px;
}

.style-container-card .form-group label {
    margin-bottom: 5px;
    padding: 0;
}

.style-container-card .form-group input,
.style-container-card .form-group textarea {
    width: 100%; 
    box-sizing: border-box; 
}




/*Rodape*/
footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 30px;
    bottom: 0;
    width: 100%;
    height: 300px;
}

footer p {
    margin-bottom: 0;
    background-color: #353E48;
}